.fondo-carousel::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
  z-index: 1;
}
.content-carousel {
  z-index: 2;
}

.img-carousel {
  max-height: 89vh;
  object-fit: cover;
}

.destacados {
  display: flex;
}

.descripcion {
  margin-top: 25px;
}

.btn-pag-principal {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #294b77;
  color: #fff;
  text-decoration: none;
}

.btn-pag-principal:hover {
  background-color: #111728;
  color: #fff;
}

.pagination-item {
  background-color: #294b77 !important;
}
