body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f5f5f5;
}

footer {
  margin-top: auto;
}

/*===== Navbar ===== */

.navbar-container {
  background-color: #dddddb;
}

#logo {
  width: 60px;
  height: 60px;
  transition: 1s;
}

#logo:hover {
  transform: rotate(340deg);
}

.link-navbar:hover {
  color: #000;
  font-weight: bolder;
}

.btn-register {
  color: #fff;
  background-color: #294b77;
}

.btn-register:hover {
  color: #fff;
  background-color: #111728;
}

/* ================ */

/* Pagina Principal */
.fondo-carousel::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
  z-index: 1;
}
.content-carousel {
  z-index: 2;
}

.img-carousel {
  max-height: 89vh;
  object-fit: cover;
}

.destacados {
  display: flex;
}

.descripcion {
  margin-top: 25px;
}

.btn-pag-principal {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #294b77;
  color: #fff;
  text-decoration: none;
}

.btn-pag-principal:hover {
  background-color: #111728;
  color: #fff;
}

.pagination-item {
  background-color: #294b77 !important;
}

/* ================ */

/* ===== Footer ===== */

.footer-container {
  background-color: #294b77;
}

.copyright-container {
  background-color: #111728;
}

/* ================== */

/* ===== modal de login ===== */

.modal-login input:hover {
  border: 1px solid #000 !important;
}

.modal-login .btn-login {
  color: #fff;
  background-color: #294b77;
}

.modal-login .btn-login:hover {
  color: #fff;
  background-color: #111728;
}

/* ========================== */
