body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

/*===== Navbar ===== */
#logo {
  width: 60px;
  height: 60px;
  transition: 1s;
}

#logo:hover {
  transform: rotate(340deg);
}

.link-navbar:hover {
  color: #000;
  font-weight: bolder;
}

input:hover {
  border: 1px solid #000 !important;
}

/* ================ */
