.my-form {
  color: #111728;
}
.my-form .btn-default {
  background-color: #294b77;
  color: #f5f5f5;
  border-radius: 1;
}
.my-form .btn-default:hover {
  background-color: #111728;
  color: #f5f5f5;
}
.my-form .form-control {
  border-radius: 1;
}

.my-form .mensaje {
  resize: none;
}
