.plane-icon {
  transform: rotate(340deg);
}

.card-destiny {
  transition: 1s;
}

.card-destiny:hover {
  transform: scale(1.1);
}

.card-destiny img {
  object-fit: cover;
}

.btn-destiny {
  color: #fff;
  background-color: #294b77;
}
.btn-destiny:hover {
  color: #fff;
  background-color: #111728;
}
